@media (min-width: 480px) {
    .container {
        width: 428px;
    }

    .section-title>.container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .contacts-item {
        display: none;
    }
}