@media screen and (min-width: 320px) and (max-width: 480px) {
    .heading-icon {
        display: none;
    }
    .section-heading {
        display: flex;
        flex-direction: column;
        gap: 72px;
        margin-top: 96px;
        margin-bottom: 96px;
        
    }
}