
:root {
    --dark: #2E2F42;
    --primary-brand: #4D5AE5;
    --text: #434455;
    --accent: #E7E9FC;
    --white-color: #FFFFFF;
    --light: #F4F4FD;
    --bgd-color: #E5E5E5;
    --icon-bg-ftr: background: rgba(255, 255, 255, 0.1);
    --color-avtive: #404BBF;
    --hov-foc-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time-animation: 250ms;
    --form-color: #8E8F99;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    /* width: 1158px; */
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* header */
.text-head {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.nav-items {
    display: none;
}

.navigation {
background-color: #FFFFFF;
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #E7E9FC;
}
.navigation > .container {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    /* color: #2E2F42; */
    /* margin-right: 76px; */
}
.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.logo-stydio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav-link-menu {
    font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.nav-link-menu:focus {
    color: var(--color-avtive);
}
.modal-nav-item {
    margin-bottom: 40px;
}

.nav-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--dark);
        transition: color 250ms var(--hov-foc-cubic);
}
.nav-link:hover {
    color: var(--primary-brand);
}

.nav-link:focus {
    color: var(--primary-brand);
}
.nav-mail,
.nav-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition-property: color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--hov-foc-cubic);
}
.nav-mail:hover,
.nav-mail:focus {
    color: var(--primary-brand);
}

.nav-tel:hover,
.nav-tel:focus {
    color: var(--primary-brand);
}
.contacts-item {
    display: none;
}
.nav-item-link {
    display: flex;
}
.nav-link {
    position: relative;
}
.linku-menu {
    margin-bottom: 40px;
}
.modal-nav-item:not(:last-child) {
    margin-bottom: 40px;
}
.contact-menu {
    margin-bottom: 40px;
}
.contact-tel-mail {
    margin-bottom: 40px;
}
.nav-tel {
    font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-transform: capitalize;    
        color: #4D5AE5;
        margin-bottom: 40px;
}
.nav-mail {
    font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
.nav-items .nav-link.current::after {
position: absolute;
    left: 0;
    bottom: -24px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.menu-hamburger {
    padding: 0;
        width: 32px;
        height: 22px;
        border: none;
        background-color: transparent;
}
.modal-header {
    position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #FFFFFF;
        padding: 40px;
}
.modal-mobile-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-left: auto;
}
.content-modal {
    margin: auto;
    max-width: 428px;
}
.modal-header > .content-modal {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: auto;
}
.icons-soc-menu {
    display: flex;
justify-content: space-between;
margin-top: 48px;
    margin-left: 15px;
        margin-right: 15px;
}


.section-title {
    /* max-width: 1440px; */
        margin: auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-index.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-mob-2x.jpg);
    }
}
.section-title>.container {
    padding-left: 0px;
    padding-right: 0px;
}



.title {
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    width: 319px;
    margin: auto;
}
.button {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        cursor: pointer;
        background-color: var(--primary-brand);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 12px 32px;
        margin: auto;
        display: block;
        margin-top: 72px;
        border-color: transparent;
        transition:
            background-color 250ms var(--hov-foc-cubic),
            box-shadow 250ms var(--hov-foc-cubic);
}
.button:hover {
    background: var(--color-avtive);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:focus {
    background: var(--color-avtive);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.section-heading {
    /* display: flex;
    justify-content: space-between; */
        padding-top: 96px;
        padding-bottom: 96px;
        /* margin: 0 auto; */
}
.heading-item {
    width: 100%;
    height: auto;
}
.subject-our {
    display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        gap: 72px;
    }

.heading {
    font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
        color: var(--dark);
}
.subtitle {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
        margin-bottom: 72px;
}
.item-picture {
        display: none;
            /* width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px; */
}
.subject {
    margin-bottom: 72px;
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}
.section-subject {
    display: none;
}
  

.section-our {
    padding-top: 96px;
        padding-bottom: 128px;
        background-color: #F4F4FD;
}
.section-our > .container {
    width: 264px;
    padding: 0;
}
.item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color: var(--dark);
}
.text-item-our {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
        margin-bottom: 8px;
        color: var(--text);
}
.subject-our-title {
    text-align: center;
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--dark);
}
.card-our-title {
    text-align: center;
        padding: 32px 16px;
}
.subject-img {
    background: #FFFFFF;
        box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.icons-soc {
    display: flex;
        justify-content: center;
        gap: 24px;
}
.icon-item-soc {
    width: 40px;
height: 40px;
}
.icon-link-soc {
    width: 100%;
        height: 100%;
        background-color: var(--primary-brand);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            background-color 250ms var(--hov-foc-cubic);
}
.icon-link-soc:hover,
.icon-link-soc:focus {
    background-color: #404BBF;
}


.section-customers {
    padding-top: 96px;
        padding-bottom: 96px;
}
.subject-our-title {
    text-align: center;
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        border-color 250ms var(--cub),
}
.customers-card {
    display: flex;
        flex-wrap: wrap;
        gap: 72px;
        column-gap: 16px;
}
.customers-items {
    width: calc((100% - 30px) / 2);
        height: 88px;
}
.customers-item {
    fill: #8e8f99;
        transition: fill 250ms var(--cub);
}
.customers-link:hover,
.customers-link:focus {
    border-color: var(--primary-brand);
}

.customers-link:hover .customers-item {
    fill: var(--primary-brand);
}

.customers-link:focus .customers-item {
    fill: var(--primary-brand);
}



.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2E2F42;
}
.footer-web {
    color: #4D5AE5;
}
.ftr-link {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #F4F4FD;
        display: block;
        margin-bottom: 16px;
        text-align: center;
}
.footer-txt {
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
        width: 268px;
        height: 72px;
        margin: 0 auto;
}
.soc-med-ftr {
    margin-top: 72px;
        text-align: center;
        margin-bottom: 72px;
}
.soc-media {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}
.icons-soc-ftr {
    display: flex;
        justify-content: center;
        gap: 16px;
}
.icon-item-soc-ftr {
    width: 40px;
        height: 40px;
}
.icon-link-soc-ftr {
    width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            background-color 250ms var(--hov-foc-cubic);
}
.icon-link-soc-ftr:hover, .icon-link-soc-ftr:focus {
    background-color: #31D0AA;
}

.ftr-subscribe {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        /* display: flex;
    align-items: center; */
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-bottom: 16px;
}
.input-mail {
    width: 100%;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 16px;
}
.input-mail::placeholder {
    font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
        padding-left: 16px;
}
.button-sub {
    width: 165px;
        height: 40px;
        margin-left: 23px;
        padding: 8px 24px;
        background-color: var(--primary-brand);
        border-radius: 4px;
        border: none;
        display: flex;
        align-items: center;
        gap: 16px;
        transition: background-color 250ms var(--hov-foc-cubic);
        margin: 0 auto;
}
.button-sub:hover,
.button-sub:focus {
    background-color: #404BBF;
}
.btn-sub {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}
/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity var(--time-animation) var(--hov-foc-cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding-top: 72px;
    width: 95%;
    padding-bottom: 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-animation) var(--hov-foc-cubic);
}

.btn-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition-duration: var(--time-animation);
    transition-property: fill, background-color;
    transition-timing-function: var(hov-foc-cubic);
}

.btn-close:hover {
    fill: var(--white-color);
    background-color: var(--color-avtive);

}

.icon-close-btn {
    content: "";
}

.modal>.btn-close {
    position: absolute;
    margin: 0;
}

.form-modal {
    color: var(--dark);
    padding-left: 24px;
    padding-right: 24px;
}

.form-title {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 14px;
    display: block;
    color: var(--dark);
}

.form-name {
    display: block;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid #21212133;
    width: 100%;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--hov-foc-cubic);
}

.form-name:focus+svg {
    fill: var(--primary-brand);
}

.form-name:focus {
    outline: none;
    border: 1px solid var(--primary-brand);
}

.icon-item-person:focus {
    fill: var(--primary-brand);
}

.form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.icon-item-person {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-10%);
    fill: var(--dark);
    transition-property: border;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--hov-foc-cubic);
}

.span-name {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
    color: var(--form-color);
}

.input-name {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
}

.modal-textarea {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.text-comment {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--form-color);
}

.comment {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    display: block;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 16px;
    padding-top: 8px;
    transform: scale(1);
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--hov-foc-cubic);
}

.comment:focus {
    color: currentColor;
    transform: scale(1);
    outline: none;
    border: 1px solid var(--primary-brand);
}

.comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #75757580;
    ;

}

/* Policy */

.chec-text {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.chec-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.link-policy {
    text-decoration: revert;
}

.text-checkbox:checked+.chec-text span {
    background-color: var(--primary-brand);
    border: 1.25px solid transparent;
    fill: var(--light);
}

/* Button */

.btn-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 169px;
    margin-top: 24px;
    color: var(--white-color);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    transition-property: background, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: var(--hov-foc-cubic);

}

.btn-send:hover {
    background: var(--color-avtive);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn-send:focus {
    background: var(--color-avtive);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


















