@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 766px;
    }

    .menu-hamburger {
        display: none;
    }

    .modal-header {
        display: none;
    }
}