@media screen and (min-width: 768px) {
    .conteiner {
        width: 768px;
    }
    .navigation {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact {
        flex-direction: column;
        align-content: center;
    }
}
.header-contack__list {
    margin-left: auto;
}
.contacts-item + .contacts-item {
    margin-left: 50px;
}
@media screen and (min-width:768px) and (max-width: 1199px) {
    .contacts-item + .contacts-item {
            margin-left: 0;
        }
    
}